/* comment  */

body {
	/* something visible on the body is a good 
	   "sanity check" that your html and css
	   are connected! */
	background-color: red;
	/* now that the Lora font is linked in the 
	   HTML, apply it to the body*/
	font-family: 'Lora', serif;
}
.small-container {
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}

.margin-top-50 {
	margin-top:50px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-20 {
	margin-top:20px;
}

.bold {
	font-weight:bold;
}

.logo {
	/* note this font family overrides 
	   the one on the body */
	font-family:"Playball", Arial;
	font-style:italic;
	text-align:center;
	font-size:3em;
}

.txt-center {
	text-align:center;
}